# Virtual Environment
venv
env
.venv

# Python Cache
__pycache__
*/__pycache__
*.pyc
*.pyo

# Environment Variables
.env
.env.dev
.env.prod

# Version Control
.git
.gitignore

# IDE Settings
.idea
.vscode

# Docker Configuration
Dockerfile
docker-compose.yml
docker-compose.dev.yml
.dockerignore