name: CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy to DigitalOcean
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. Заходим в папку (ИСПРАВИЛ путь на маленький регистр)
            cd sana

            # 2. Скачиваем изменения
            git pull origin main

            # 3. Пересобираем контейнер (твоя команда)
            docker compose up -d --build

            # 4. ⚠️ ВАЖНО: Накатываем миграции БД (чтобы новые фичи не ломались)
            # Флаг -T нужен, чтобы робот не ждал ввода, а выполнял молча
            docker compose exec -T app alembic upgrade head

            # 5. Чистим мусор (старые образы), чтобы место на сервере не кончилось
            docker image prune -f
