name: CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy to DigitalOcean
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd sana

            git pull origin main

            docker compose up -d --build

            # Run DB migrations (-T disables pseudo-tty allocation for CI)
            docker compose exec -T app alembic upgrade head

            # Clean up unused images
            docker image prune -f
